# ASP.NET
# Build and test ASP.NET projects.
# Add steps that publish symbols, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/aspnet/build-aspnet-4

trigger:
- master

pool:
  vmImage: 'windows-latest'

#steps:
#- task: SynopsysPolaris@1
#  inputs:
#    polarisService: 'PolarisServer'
#    polarisCommand: 'analyze -w'
steps:
- task: Bash@3
  inputs:
    targetType: 'inline'
    script: |
      bash <(curl -s -L https://detect.synopsys.com/detect.sh) --detect.tools="POLARIS" --polaris.access.token=â€mjbkol964p403c2r6mks6rqbljukk4klouqoabitb1eeu9mkpvi0" --polaris.url="https://sipse.polaris.synopsys.com/" --polaris.arguments="-w"